@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #efbf04;
  --secondary: #251d01;
  --primaryGradient: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.67) 0%,
    rgba(239, 191, 4, 0.12) 100%
  );
  --backgroundLight: rgba(250, 250, 250, 0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
