@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@config "../../tailwind.config.js";

:root {
  --background: #090a0a;
  --surface: #111212;

  --primary: #d9ae2b;
  --primary-light: #f1cc58;

  --foreground: #f4f0e7;
  --muted: #b8b5ae;

  --primary-gradient: linear-gradient(
    to right,
    rgba(9, 10, 10, 0.9) 0%,
    rgba(217, 174, 43, 0.12) 100%
  );

  --default-shadow: rgba(0, 0, 0, 0.25) 0 8px 24px;
  --primary-shadow: 0 8px 40px rgba(212, 175, 55, 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --font-sans: var(--font-josefin);
  --font-display: var(--font-cinzel);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-josefin), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-cinzel), serif;
  }
}
